# EJERCICIO CON LISTAS EN PYTHON

Este cuaderno busca realizar algunos métodos con listas y crear un Dataframe posteriormente.

In [3]:
# LISTA CON INTEGRANTES DE LA FAMILIA, EDAD Y UN DATO BOLEANO

m1 = ["maria",54, False]
p1 = ["jairo",54, True]
h1 = ["andres",18, False]
h2 = ["julian",25, False]
h3 = ["katherine",33, False]

In [4]:
# UNINIÓN DE LISTA DE UNA DIMENSIÓN PARA HACER UNA DE TRES DIMENSIONES

lista_familia = [m1,p1,h1,h2,h3]
lista_familia

[['maria', 54, False],
 ['jairo', 54, True],
 ['andres', 18, False],
 ['julian', 25, False],
 ['katherine', 33, False]]

In [5]:
# EXTRAER DOS FILAS EN CONCRETO 

lista_familia[0],lista_familia[2]

(['maria', 54, False], ['andres', 18, False])

In [6]:
# EXTRAER DOS FILAS EN CONCRETO

lista_familia[0],lista_familia[2]

(['maria', 54, False], ['andres', 18, False])

In [7]:
# EXTRAER TODOS LOS ELEMENTOS DEL 2 AL 3

lista_familia[1:4]

[['jairo', 54, True], ['andres', 18, False], ['julian', 25, False]]

In [8]:
# EXTRAER TODOS LOS ELEMENTOS DEL 0 AL 2 

lista_familia[0:3]

[['maria', 54, False], ['jairo', 54, True], ['andres', 18, False]]

In [9]:
# EXTRAER TODOS LOS ELEMENTOS DE LA FILA

lista_familia[0:5]

[['maria', 54, False],
 ['jairo', 54, True],
 ['andres', 18, False],
 ['julian', 25, False],
 ['katherine', 33, False]]

In [10]:
p1

['jairo', 54, True]

In [11]:
# AGREGAR UN ELEMENTO A UNA LISTA DE UNA DIMENSIÓN 

p1.append("Julio")
p1

['jairo', 54, True, 'Julio']

In [12]:
# AGREGAR UN ELEMENTO A UNA LISTA DE UNA DIMENSIÓN 

m1.append("octubre")
m1

['maria', 54, False, 'octubre']

In [13]:
# AGREGAR UN ELEMENTO A UNA LISTA DE UNA DIMENSIÓN 

h1.append("mayo")
h1

['andres', 18, False, 'mayo']

In [14]:
# AGREGAR UN ELEMENTO A UNA LISTA DE UNA DIMENSIÓN 

h2.append("mayo")
h2

['julian', 25, False, 'mayo']

In [15]:
# AGREGAR UN ELEMENTO A UNA LISTA DE UNA DIMENSIÓN 

h3.append("mayo")
h3

['katherine', 33, False, 'mayo']

In [16]:
# REMOVER UN ELEMENTO A UNA LISTA DE UNA DIMENSIÓN 

h1.remove("mayo")
h1

['andres', 18, False]

In [17]:
# VER LA LISTA ACTUAL

lista_familia

[['maria', 54, False, 'octubre'],
 ['jairo', 54, True, 'Julio'],
 ['andres', 18, False],
 ['julian', 25, False, 'mayo'],
 ['katherine', 33, False, 'mayo']]

In [18]:
# IMPORTAR LIBRERÍA PANDAS PARA PASAR LAS LISTAS A UN DATAFRAME

import pandas as pd

In [19]:
# CREACIÓN DE DATAFRAME Y ASIGNAR NOMBRES A LAS COLUMNAS 

pd.DataFrame(lista_familia, columns=["Nombre","Edad","Es padre","Mes de cumpleaños"])

      Nombre  Edad  Es padre Mes de cumpleaños
0      maria    54     False           octubre
1      jairo    54      True             Julio
2     andres    18     False              None
3     julian    25     False              mayo
4  katherine    33     False              mayo