## ANÁLISIS INTERMEDIO DE DATOS

In [4]:
# IMPORTAR LIBRERIAS

import pandas as pd

In [10]:
# 1. CARGA DE DATOS
df = pd.read_csv("C:/Users/Julian/Downloads/Excel sin saber/ventas_tienda.csv")
df

           Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0     2023-01-17  Electrónic         7              200         1400
1     2023-09-01  Electrónic         8              200         1600
2     2023-07-29    Juguetes         3               30           90
3     2023-10-04   Alimentos         4               10           40
4     2023-02-28  Electrónic         6              200         1200
...          ...         ...       ...              ...          ...
1045  2023-09-11    Juguetes        10               30          300
1046  2023-01-03    Juguetes        10               30          300
1047  2023-11-07   Alimentos         3               10           30
1048  2023-08-20  Electrónic         6              200         1200
1049  2023-07-21    Juguetes         3               30           90

[1050 rows x 5 columns]

In [16]:
# 2. VENTAS TOTALES POR PRODUCTO
ventas_totales = df.groupby('Producto')["Total Venta"].sum()
ventas_totales.sort_values(ascending = False)

Producto
Electrónic    244000
Ropa           56400
Juguetes       33390
Libros         20840
Alimentos      12620
Name: Total Venta, dtype: int64

In [28]:
# 2.1 VENTAS TOTALES POR PRODUCTO % 

por_ventas = (ventas_totales / df["Total Venta"].sum() * 100).round(2)
por_ventas.sort_values(ascending = False)

Producto
Electrónic    66.44
Ropa          15.36
Juguetes       9.09
Libros         5.67
Alimentos      3.44
Name: Total Venta, dtype: float64

In [34]:
# 4. PROMEDIO DE VENTAS TOTAL
promedio_ventas_diarias = df["Total Venta"].mean().round(2)
promedio_ventas_diarias

349.76

In [42]:
# 5. Transacciones donde se vendieron mas de 9 unidades
mas_de_dos = df[df["Cantidad"] > 9].reset_index()
mas_de_dos

     index       Fecha    Producto  Cantidad  Precio Unitario  Total Venta
0        8  2023-03-22        Ropa        10               50          500
1       14  2023-01-19    Juguetes        10               30          300
2       17  2023-05-19      Libros        10               20          200
3       21  2023-05-01  Electrónic        10              200         2000
4       29  2023-05-19        Ropa        10               50          500
..     ...         ...         ...       ...              ...          ...
102    976  2023-04-09  Electrónic        10              200         2000
103    989  2023-12-06   Alimentos        10               10          100
104    996  2023-06-09        Ropa        10               50          500
105   1045  2023-09-11    Juguetes        10               30          300
106   1046  2023-01-03    Juguetes        10               30          300

[107 rows x 6 columns]

In [56]:
# 6. Ventas por mes
df["Fecha"] = pd.to_datetime(df["Fecha"], format = "mixed")
df["Mes"] = df["Fecha"].dt.month_name()
ventas_por_mes = df.groupby('Mes')["Total Venta"].sum()
ventas_por_mes.sort_values(ascending = False)

Mes
August       45090
January      43030
May          39380
December     33560
June         30520
February     28410
September    27870
July         26350
October      25610
April        23210
March        23200
November     21020
Name: Total Venta, dtype: int64

In [60]:
# 6.1 Ventas por mes %

por_ventas_por_mes = (ventas_por_mes / df["Total Venta"].sum() * 100).round(2)
por_ventas_por_mes.sort_values(ascending = False)

Mes
August       12.28
January      11.72
May          10.72
December      9.14
June          8.31
February      7.74
September     7.59
July          7.17
October       6.97
April         6.32
March         6.32
November      5.72
Name: Total Venta, dtype: float64

In [62]:
# 10. Precio unitario promedio de los productos en cada categoría.
precio_promedio_categoria = df.groupby('Producto')["Precio Unitario"].mean()
precio_promedio_categoria

Producto
Alimentos      10.0
Electrónic    200.0
Juguetes       30.0
Libros         20.0
Ropa           50.0
Name: Precio Unitario, dtype: float64