## EJERCICIO DE MEDIAS CON DATASET DE VIDEOJUEGOS

Se van a trabajar medias o promedios con el dataset de kaggle de videojuegos donde se ubiará al final en un dataframe.

In [4]:
# IMPORTAR LIBRERÍAS 

import pandas as pd

In [6]:
# DEFINICIÓN DE LA RUTA DEL ARCHIVO 

ruta = "C:/Users/Julian/Documents/Ejecicios del botcamp/Ventas_Videojuegos.xlsx"

In [8]:
# LECTURA DEL ARCHIVO PARA CREAR EL DATAFRAME

juegos = pd.read_excel(ruta)
juegos

,Nombre,Plataforma,Año,Genero,Editorial,Ventas NA,Ventas EU,Ventas JP,Ventas Otros,Ventas Global
0,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16321,Farming 2017 - The Simulation,PS4,2016,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01
16322,Rugby Challenge 3,XOne,2016,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01
16323,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016,Action,dramatic create,0.00,0.00,0.01,0.00,0.01
16324,Phantasy Star Online 2 Episode 4: Deluxe Package,PSV,2017,Role-Playing,Sega,0.00,0.00,0.01,0.00,0.01
16325,Brothers Conflict: Precious Baby,PSV,2017,Action,Idea Factory,0.00,0.00,0.01,0.00,0.01

In [23]:
# PROMEDIO VENTAS EN NORTEAMERICA

promedio_ventas_NA = juegos["Ventas NA"].mean().round(2)
promedio_ventas_NA

0.27

In [25]:
# PROMEDIO VENTAS EN EUROPA

promedio_ventas_EU = juegos["Ventas EU"].mean().round(2)
promedio_ventas_EU

0.15

In [27]:
# PROMEDIO VENTAS JAPON

promedio_ventas_JP = juegos["Ventas JP"].mean().round(2)
promedio_ventas_JP

0.08

In [29]:
# PROMEDIO VENTAS OTROS PAISES

promedio_ventas_otros = juegos["Ventas Otros"].mean().round(2)
promedio_ventas_otros

0.05

In [31]:
# PROMEDIO VENTAS GLOBAL

promedio_ventas_global = juegos["Ventas Global"].mean().round(2)
promedio_ventas_global

0.54

In [35]:
# CREACIÓN DEL DATAFRAME CON LOS PROMEDIOS 

promedios = {"UBICACIÓN": ["Norteamerica","Europa","Japon","Otros","Global"],
             "PROMEDIO": [promedio_ventas_NA, promedio_ventas_EU, promedio_ventas_JP, promedio_ventas_otros, promedio_ventas_global]}

df = pd.DataFrame(promedios)
df

      UBICACIÓN  PROMEDIO
0  Norteamerica      0.27
1        Europa      0.15
2         Japon      0.08
3         Otros      0.05
4        Global      0.54